#card {
    background-image: url(../projeto_card_natal/img/fundo_card.jpg);
    background-size: cover; /*cobre todo o conteiner em largura e altura = vai caber a imagem ali dentro*/
    margin: 50px;
    width: 80%;
    height: 100%;
    border-style: dashed;
    border-color: purple    ;
    border-width: 10px;
    display: inline-block; /*caixa uma do lado da outra na mesma linha*/
} 

#content {
    float: left;
}

#picture {
    width: 350px;
    height: 350px;
    margin-top: 80px;
}

#msg {
    display: inline-block;
    margin-top: 150px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
}

#title {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

#text{
    color: white;
    font-size: 35px;
    text-align: left;
    font-family: 'Patrick Hand', cursive;
}